
	<action>
		<conditions>
			<condition>
				<type_condition>field_number</type_condition>
				<order_condition>=</order_condition>
				<value_condition>117</value_condition>
			</condition>
		</conditions>
		<action_type>item_320_number</action_type>
		<action_condition>change_value</action_condition>
		<action_value>6</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>field_number</type_condition>
				<order_condition>=</order_condition>
				<value_condition>117</value_condition>
			</condition>
		</conditions>
		<action_type>item_320_type</action_type>
		<action_condition>change_value</action_condition>
		<action_value>85</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>gils</type_condition>
				<order_condition>+</order_condition>
				<value_condition>1</value_condition>
			</condition>
			<condition>
				<type_condition>field_number</type_condition>
				<order_condition>!</order_condition>
				<value_condition>496</value_condition>
			</condition>
			<condition>
				<type_condition>field_number</type_condition>
				<order_condition>!</order_condition>
				<value_condition>428</value_condition>
			</condition>
		</conditions>
		<action_type>gils</action_type>
		<action_condition>change_value</action_condition>
		<action_value>1</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>field_number</type_condition>
				<order_condition>=</order_condition>
				<value_condition>496</value_condition>
			</condition>
		</conditions>
		<action_type>gils</action_type>
		<action_condition>change_value</action_condition>
		<action_value>3000</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>field_number</type_condition>
				<order_condition>=</order_condition>
				<value_condition>428</value_condition>
			</condition>
		</conditions>
		<action_type>gils</action_type>
		<action_condition>change_value</action_condition>
		<action_value>10</action_value>
	</action>