
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>0</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>0</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>1</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>1</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>2</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>2</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>3</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>3</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>4</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>4</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>5</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>5</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>6</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>6</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>7</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>7</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>8</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>8</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>9</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>9</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>10</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>10</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>11</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>11</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>12</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>12</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>13</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>13</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>14</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>14</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>15</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>15</action_value>
	</action>
