
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>0</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud0</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>1</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud1</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>2</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud2</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>3</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud3</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>4</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud4</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>5</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud5</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>6</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud6</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>7</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud7</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>8</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud8</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>9</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud9</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>10</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud10</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>11</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud11</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>12</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud12</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>13</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud13</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>14</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud14</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cloud_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>15</value_condition>
			</condition>
		</conditions>
		<action_type>cloud_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cloud15</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>73</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid0</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>74</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid1</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>75</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid2</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>76</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid3</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>77</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid4</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>78</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid5</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>79</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid6</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>80</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid7</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>81</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid8</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>82</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid9</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>83</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid10</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>84</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid11</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>85</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid12</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>cid_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>86</value_condition>
			</condition>
		</conditions>
		<action_type>cid_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>cid13</action_value>
	</action>
		<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>62</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith0</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>63</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith1</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>64</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith2</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>65</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith3</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>66</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith4</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>67</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith5</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>68</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith6</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>69</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith7</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>70</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith8</action_value>
	</action>
	<action>
		<conditions>
			<condition>
				<type_condition>aerith_weapon</type_condition>
				<order_condition>=</order_condition>
				<value_condition>72</value_condition>
			</condition>
		</conditions>
		<action_type>aerith_weapon</action_type>
		<action_condition>use_files</action_condition>
		<action_value>aerith10</action_value>
	</action>